        html{font-size: 100%;}
        body{
            background-color: rgba(14, 12, 41, 0.88);
            font-size: 80%;
        }

        .togggle-button{
        position: relative;
        }
        .center{
        position: absolute;
        left: 1em;
        }
        .center input{
        position: relative;
        width: 3.2em;
        top: 0.1em;
        height: 1.7em;
        -webkit-appearance: none;
        background: rgb(255, 255, 255);
        outline: none;
        border-radius: 1.5em;
        transition: .5s;
        box-shadow: inset 0 0 rgba(0,0,0,.2);
        }
        .center input:checked{
        background-color: rgb(16, 207, 198);
        }
        .center input::before{
        content: '';
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        top: .094rem;
        left: .13rem;
        background: #fff;
        box-shadow: 0 .2em .4em rgba(0,0,0,.2);
        transition: all .5s;
        }
        .center input:checked::before{
        left: 50%;
        }
        .user-button{
        padding-top: 4.5em;
        }
        .user-button a{
        background-color: rgb(16, 207, 198);
        padding: 0.4em 0.8em;
        border-radius: 0.6em;
        box-shadow: solid .1em .35em .8em rgba(16, 207, 198);
        }

        .user-button a:hover{
        box-shadow: .2em .2em .75em .25em rgba(16, 207, 198);
        padding: 0.411em 0.811em;
        }
        .user-button i{
        color: rgb(255, 255, 255);
        font-size: 1em;
        }
        .user-row img{
        width: 5em;
        height: 5em;
        border: .35em solid rgb(16, 207, 198);
        margin-left: 2em;
        }
        .download-results{
        background-color: rgb(76, 13, 134);
        color: rgb(255, 255, 255);
        border-radius: 5em !important;
        }

        .left-page{
        color: rgb(255, 255, 255);
        }
        .left-search-inp{
        background: url(images/searchIcon.png) no-repeat .7em .9em;
        background-size: 1.4em 1.4em;
        border-radius: 3em;
        padding: 1.7em 3em !important;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.9em !important;
        max-width: 25em;
        margin: 0 auto;
        border: 0;
        
        }
        .left-search-inp:focus{
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        }
        .users i {
        transform: scale(1.5);
        color: rgb(255, 255, 255);
        }

        .users .all{
        background-color: rgb(250, 42, 205);
        }
        .users .male{
        background-color: rgb(16, 207, 198);
        }
        .users .female{
        background-color: rgb(134, 81, 184);
        }
        .users-icon-container{padding: 0 3.9em;}
        ul.pager{
           width: 5.5em;
           margin-left: auto;
           margin-right: auto;
        }
        .pager li{
        list-style-type: none;
        display: inline-block;
        border-radius: 4em !important;
        }
        .pager a{
        font-weight: bold;
        }
        .pager .active{
        background-color: black;
        color: white;
        }
        .pager-nonactive{
        background-color: grey
        }
        .show-user{
        width: 20em !important;
        margin: auto;
        color: rgba(202, 187, 187,.8);
        }
        .left-search input::placeholder{
        color: rgba(202, 187, 187,.9);
        font-weight: bold;
        }
        .jumbotron{
        position: relative;
        border-radius: 1.3em;
        background-color: rgba(240,240,250);
        padding-top: 2.2em;
        min-height: 100vh;
        }
        .left-page span{
        font-weight: lighter !important;
        font-size: 2.3em;
        }
        .left-page h2{
        font-size: 1.7em;
        }
        .users span{
            display: inline-block;
        width: 4.6rem;
        height: 4.3rem;
        border-radius: 1em;
        transition: all .5s;
        }
        .users span:hover{
        transform: scale(1.26,1.26);
        }
        .welcome-message{
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.5);
        }
        .card{
        border-radius: 1em;
        padding: 0;
        margin-bottom: 1em;
        border: 0;
        }
        .find-in-list{
        background-color: rgba(175, 160, 160, 0.3)
        }
        .card-text{
        color: rgba(61, 56, 56, .6);
        font-style: italic;
        font-weight: 500;
        }
        .country-dropdown{
        background-color: rgba(175, 160, 160, 0.3);
        border-radius: 3em;
        }
        .users{text-align: center;}
        .users-icon-container p{
        color: rgba(202, 187, 187,.8);
        }

        #filter-message{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 4em;
        color: rgba(245, 138, 76,.7);
        display: none;
        }
        .usersColumn{
        min-height: 100vh !important;
        }
        #rightSearch::placeholder{
        font-weight: bold;
        font-size: .8em;
        }
        #rightSearch{
            background: url(images/searchIcon.png) no-repeat .4em .4em;
            background-size: 1.1em 1.1em;
            padding-left: 2em;
        }
        .right-top-inp{
        color: rgba(104, 102, 102, 0.95);
        
        }
        .userCategoryContainer{
        position: relative;
        }
        .userCategoryContainer h3{font-size: 1.7em; padding-top: .6rem;}
        #allUsersCategory, #maleUsersCategory, #femaleUsersCategory{
        position: absolute;
        top: 0;
        left: 0;
        }
        #femaleUsersCategory,#maleUsersCategory{
        opacity: 0;
        }
        .country-badge{
        display: none;
        }
        .leftPage-whole h2{font-size: 1.5em;}
        .userList h5{font-size: 1.2em; padding-top: .5rem;}
        /* .jumbotron{
            font-size: 80%;
        }
        .leftPage-whole{
            font-size: 80%;
        } */
        /*my media queries*/

        @media screen and (max-width: 768px){
            body{
                font-size: 75%;
                overflow-x: hidden;
            }
            .users-icon-container {
                padding: 0;
            }
            #rightSearch::placeholder{
                font-weight: bold;
                font-size: .6em;
                }

        }
        @media screen and (max-width: 1125px){
            div.jumbotron{
                padding: 0;
            }


        }
        @media screen and (max-width: 498px) {
        .userList img{
        width: 4em;
        height: 4em;
        margin-left: 0.5em;
        }
        .user-button{
        margin-top: 2.5em;
        padding-top: 0;
        }
        .user-button a{
        padding: 0.2em 0.4em;
        }
        .card-body{
        padding: 0 0 0;
        }
        .hello-emerald{text-align: center;}
}
